body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#inputText {
    padding: 5px;
    border: 1px solid #ccc;
}

#outputButton {
    background-color: #0074d9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#outputArea {
    background-color: #c91919;
    padding: 10px;
    margin-top: 10px;
    display: none; 
}
